<%- include("../partials/header.ejs") -%>

<% if (msg) { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong><%= msg %></strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% } %>
  <div class="container mt-4" style="width:35%;">
    <h2 class="text-center mb-4"><u>Update Category</u></h2>
    <form name="myForm" action="/updatecategory" method="post" class="container userForm categoryform" onsubmit="return validateForm()">
        <div class="form-group">
            <label for="categoryName"><b>Category Name</b></label>
            <input type="text" class="form-control" id="categoryName" placeholder="Enter Category name e.g Nike" name="categoryName" value="<%= categorydata.category_name %>">
            <input type="hidden" name = "category_id" value='<%= categorydata._id %>'
            <span id="categoryNameError" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label><b>Category Visibility</b></label>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="visibleField1" name="categoryvisibility" value="visible" <%= categorydata.category_visibility === "visible" ? 'checked' : '' %>>
                <label class="form-check-label" for="visibleField1">Visible</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="visibleField2" name="categoryvisibility" value="hide" <%= categorydata.category_visibility === "hide" ? 'checked' : '' %>>
                <label class="form-check-label" for="visibleField2">Hide</label>
            </div>
            <span id="visibleFieldError" class="text-danger"></span>
        </div>
        

        <div class="form-group">
            <label for="categoryAddedBy"><b>Category Added By</b></label>
            <input type="text" class="form-control" id="categoryAddedBy" name="categoryAddedBy" value="<%= categorydata.category_addedBy %>" disabled>
        </div>

        <div class="form-group">
            <label for="categoryCreatedDate"><b>Category Created Date</b></label>
            <input type="text" class="form-control" id="categoryCreatedDate" name="categoryCreatedDate" value="<%= categorydata.category_created_date.toString().substring(0, 10) %>" disabled>
        </div>

        <% if(categorydata.category_updated_date != "default"){ %>
                <div class="form-group">
                    <label for="categoryAddedBy"><b>Category Updated By</b></label>
                    <input type="text" class="form-control" id="categoryAddedBy" name="categoryAddedBy" value="<%= categorydata.category_updatedBy %>" disabled>
                </div>
        
                <div class="form-group">
                    <label for="categoryCreatedDate"><b>Category Updated Date</b></label>
                    <input type="text" class="form-control" id="categoryCreatedDate" name="categoryCreatedDate" value="<%= categorydata.category_updated_date.toString().substring(0, 10) %>" disabled>
                </div>
                <% } %>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="/managecategory" class="btn btn-secondary" style="color: white;">Go Back</a>

        </div>
    </form>
</div>

<%- include("../partials/footer.ejs") -%>


<script>
    function validateForm() {
        var categoryName = document.getElementById("categoryName").value;
        var visibleField1 = document.getElementById("visibleField1").checked;
        var visibleField2 = document.getElementById("visibleField2").checked;
        
        if (categoryName.trim() === "") {
            document.getElementById("categoryNameError").innerText = "Category name is required";
            return false;
        } else {
            document.getElementById("categoryNameError").innerText = "";
        }
    
        if (!visibleField1 && !visibleField2) {
            document.getElementById("visibleFieldError").innerText = "Please select a visibility option";
            return false;
        } else {
            document.getElementById("visibleFieldError").innerText = "";
        }
        return true;
    }
    </script>