<%- include("../partials/header.ejs") -%>
<table class="table" id="cartTable">
    <thead>
      <% if (history.length === 0) { %>
        <p class="text-center mt-4">You haven't order anything yet.</p>
      <% } else { %>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product Name</th>
          <th scope="col">Unit Price</th>
          <th scope="col">Size</th>
          <th scope="col">Quantity</th>
        </tr>
      </thead>
      <tbody>
        <% history.forEach((item, index) => { %>
          <% const productTitles = JSON.parse(item.product_title); %>
          <% const productPrices = JSON.parse(item.product_price); %>
          <% const productSizes = JSON.parse(item.product_size); %>
          <% const productQuantities = JSON.parse(item.product_quantity); %>
  
          <% for (let i = 0; i < productTitles.length; i++) { %>
            <tr>
              <td class="text-center"><%= index + 1 %></td>
              <td><%= productTitles[i] %></td>
              <td><%= productPrices[i] %></td>
              <td><%= productSizes[i] %></td>
              <td><%= productQuantities[i] %></td>
            </tr>
          <% } %>
        <% }); %>
      </tbody>
      <% } %>
  </table>
  

<%- include("../partials/footer.ejs") -%>
