<%- include("../partials/header.ejs") -%>
<div class="text-center m-4">
    <h2>Products</h2>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-12">
        <div class="sticky-top mt-5">
            <form name="myForm" action="/filterproduct" method="post">
            <h2>Filter</h2>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" placeholder="e.g Nike Jordan 1" name="productName">
            </div>

            <div class="form-group">
                <label>Gender:</label><br>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="gender" id="male" value="m">
                    <label class="form-check-label" for="male">Male</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="gender" id="female" value="f">
                    <label class="form-check-label" for="female">Female</label>
                </div>
            </div>
        
            <!-- Brand Selection (Vertical Form) -->
            <div class="form-group">
                <label for="brand">Brand:</label>
                <select class="form-control" id="product_brand" name="product_brand">
            <option value="Select Brand">Select Brand</option>

                    <% brandData.forEach(function(brandItem) { %>
                        <% if(brandItem.brand_visibility == 'visible'){%>
                        <option value="<%= brandItem._id %>"><%= brandItem.brand_name %></option>
                       <% } %>
                    <% }); %>
                </select>
            </div>
        
            <!-- Category Selection (Vertical Form) -->
            <div class="form-group">
                <label for="category">Category:</label>
                <select class="form-control" id="product_category" name="product_category">
            <option value="Select Category">Select Category</option>

                    <% categoryData.forEach(function(categoryItem) { %>
                        <% if(categoryItem.category_visibility == 'visible'){%>
                        <option value="<%= categoryItem._id %>"><%= categoryItem.category_name %></option>
                       <% } %>
                    <% }); %>
                </select>
            </div>
            <div class="form-group">
                <label>Sort By Price:</label><br>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="priceSort" id="lowToHigh" value="lowToHigh">
                    <label class="form-check-label" for="lowToHigh">Low to High</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="priceSort" id="highToLow" value="highToLow">
                    <label class="form-check-label" for="highToLow">High to Low</label>
                </div>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-primary">Search</button>
            </div>
        </form>
        </div> 
    </div>
    <div class="col-md-9 col-sm-12">
        <div class="row">
        <% productsData.forEach(product => { %>
                <div class="col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <img src="./uploads/<%= product.product_image_path %>" class="card-img-top" alt="<%= product.product_title %>" >

                    <div class="card-body">
                        <h5 class="card-title"><%= product.product_title.length > 30 ? product.product_title.slice(0, 30) + '...' : product.product_title %></h5>
                        <p class="card-text"><%= product.product_description.length > 30 ? product.product_description.slice(0, 30) + '...' : product.product_description %></p>
                        <p class="text-muted">
                            <% if (product.product_gender === 'm') { %>
                                Male
                            <% }else{ %> 
                                Female
                            <% }%>| 
                            <%= product.gender %>
                            <%= product.product_size %>
                        </p>
                        <p class="card-text"><b>$<%= product.product_price %></b></p>
                        <div class="text-center">
                        <a class="btn btn-primary text-center" href="/viewproduct/<%= product.product_title %>">View Product</a>
                    </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <% brandData.forEach(brand => { %>
                                <% if (brand._id.toString() === product.product_brand_id.toString()) { %>
                                    <%= brand.brand_name %>
                                <% } %>
                            <% }); %>
                            | 
                            <% categoryData.forEach(category => { %>
                                <% if (category._id.toString() === product.product_category_id.toString()) { %>
                                    <%= category.category_name %>
                                <% } %> 
                            <% }); %>
                            |
                            <%= product.product_sku %>
                        </small>
                    </div>
                </div>
        </div>
        <% }); %>
    </div>
    </div>
</div>
</div>
  
<%- include("../partials/footer.ejs") -%>
